# General
.vscode
.idea
_things
desktop.ini
.DS_Store
*.pdf
!.gitkeep
!fig/20260323_hayashi_jamstecMTG.pdf
!fig/20260323_hirukawa_jamstecMTG.pdf

# Rust
/target
**/*.rs.bk

# Node
node_modules
tools/test-helper/dist
package-lock.json

# Nix
/result
.direnv/